body{
    background-color: #1f2933;
    color: white;
}

.task-completed{
    background-color: green;
}

.task-notcompleted{
    background-color: red;
}

li{
    margin: 5px;
    padding: 10px;
}

a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #60a5fa;
}
