body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111827;
  color: white;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #1f2933;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #60a5fa;
}
